*{
    margin: 0;
}
body{
    display: grid;
    grid-template-rows: 0px auto 60px;
    grid-template-areas: "header" "main" "footer";
}
main{
    background-color: gray;
    height: calc(100vh - 60px);
    font-size: 20px;
    color: white;
    grid-area: main;
    display: grid;
    grid-template-areas: "contact" "aside";
}
.contact{
    position: relative;
    top: 70px;
    left: 10px;
    grid-area: contact;
    grid-column: 1 / 2;
    width: 50vw;
}
div{
    margin-top: 10px;
}
input{
    width: 300px;
}
#message{
    height: 70px;
}
#submit{
    background-color: #0069d9;
    color: white;
    border: none;
    width: 100px;
    height: 40px;
    margin-top: 10px;
}

aside{
    margin: 100px 10px;
    grid-area: aside;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
p{
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 998px) {
    input{
        height: 30px;
        width: 400px;
    }
    #message{
        height: 150px;
    }
    aside{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: flex-end;
    }
}