*{
    margin: 0;
}

main{
    background-image: url(../assets/images/slika.jpg);
    height: calc(100vh - 50px);
    background-size: cover;
    background-position: top;
}

.container{
    color: rgba(255, 255, 255, 75%);;
    background-color: rgba(0, 0, 0, 40%);
    width: 80%;
    height: 20%;
    border: 2px solid black;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 2px 2px 7px black;
    text-shadow: 2px 2px 11px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    flex-wrap: wrap;
}
span{
    color: crimson;
}

@media screen and (min-width: 998px) {
    .container{
        width: 60%;
        height: 25%;
        top: 35%;
    }
}