*{
    margin: 0;
}
body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0px calc(100vh - 60px) 60px;
    grid-template-areas: "header" "main" "footer";
}

main{
    background-image: url(../assets/images/slika.jpg);
    background-size: cover;
    background-position: top;
    grid-area: main;
}

.container{
    color: rgba(255, 255, 255, 75%);;
    background-color: rgba(0, 0, 0, 40%);
    width: 80%;
    height: 20%;
    border: 2px solid black;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 2px 2px 7px black;
    text-shadow: 2px 2px 11px white;
    display: grid;
    align-items: center;
    justify-items: center;
    
    
}
span{
    color: crimson;
}

@media screen and (min-width: 998px) {
    .container{
        width: 50%;
        height: 25%;
        top: 35%;
    }
}