*{ margin: 0;}
body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0px 45vh auto 60px;
    grid-template-areas: "header" "slika" "main" "footer";
}
header{
    background-image: url(../assets/images/slika\ 2.jpg);
    background-size: cover;
    background-position: top;
    display: grid;
    align-items: flex-end;
    justify-content: center;
    grid-area: slika;

}

main{
    background-color: rgba(0, 0, 0, 50%);
    display: grid;
    grid-auto-flow: row;
    justify-content: space-around;
    grid-area: main;
}
h2{
    color: white;
}
.kopce{
    width: 100px;
    height: 40px;
    background-color: #0069d9;
    color: white;
    border: 1px solid white;
}

.box{
    border: 1px solid white;
    border-radius: 10px;
    width: 280px;
    height: 310px;
    display: grid;
    justify-items: center;
    align-content: space-around;
    margin: 20px 0px;
}
.icon{
    width: 200px;
}


@media screen and (min-width: 1200px) {
    main{
        display: grid;
        grid-auto-flow: column;
        gap: 10px;
    }
}