nav{
    position: fixed;
    height: 60px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #343A40;
    font-size: 20px;   
    grid-area: header;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    column-gap: 50px;
    padding-right: 20px;
}
nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 75%); 
}
footer{
    background-color: #343A40;
    color: white;
    margin: 0;
    grid-area: footer;
    display: grid;
    align-items: center;
    justify-items: center;
}